.header {
    height: 25vh;
    background: #673ab7;
    color: #fff;
    display: flex;
    img {
        align-self: center;
        padding-left: 50px;
    }
    // h2 {
    //     margin: 0;
    //     line-height: 15vh;
    //     padding-left: 2.5em;
    // }
}