.screen2 {
    text-align: center;
    padding: 80px 0 40px;
    .content {
        margin-bottom: 50px;
    }
}

.btn {
    text-align: center;
    button {
        color: #fff;
        background: #673ab7;
        border: none;
        padding: 10px 40px;
        border-radius: 3px;
    }
}